
.hero-container {
    background: linear-gradient(to bottom right, #359CD6,#036BAA);
}

.form-container {

}

.logo-image {
    max-width: 100px;
    height: auto;
    margin-bottom: 40px;
}

.form-input {
    input {
        padding: 10px;
    }
}

.form-submit {
    margin-top: 20px;
}

hr {
    height: 1px;
}

.register-link-container {
    margin-top: 20px;
}
.register-link {
    color: #FFF;
    font-size: 0.8rem;
}